{% extends 'users/home.html' %}
{% load static %}

{% block header %}
Fmk Link - Password Change Done
{% endblock %}

{% block main_block %}
<div class="container mx-auto p-6">
    <div class="bg-white p-8 rounded-lg m-3 shadow-lg w-full max-w-2xl mx-auto">
        <h2 class="text-2xl font-extrabold mb-6 text-center text-yellow-500">Change Password</h2>

        <div class="mt-4 border-t-2 border-yellow-400"></div>

        {% if form.errors %}
            <div class="mb-4 p-4 rounded bg-red-100 text-red-800" role="alert">
                <ul class="list-disc list-inside">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li><strong>{{ field|capfirst }}:</strong> {{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div class="mb-4">
                <label for="id_old_password" class="block text-sm font-medium text-gray-700">Old password:</label>
                <input type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password" class="mt-1 p-2 border border-gray-300 rounded w-full focus:outline-none focus:border-yellow-500">
            </div>

            <div class="mb-4">
                <label for="id_new_password1" class="block text-sm font-medium text-gray-700">New password:</label>
                <input type="password" name="new_password1" autocomplete="new-password" aria-describedby="id_new_password1_helptext" id="id_new_password1" class="mt-1 p-2 border border-gray-300 rounded w-full focus:outline-none focus:border-yellow-500">
                <small class="text-gray-500" id="id_new_password1_helptext">
                    <ul class="list-disc list-inside">
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </small>
            </div>

            <div class="mb-4">
                <label for="id_new_password2" class="block text-sm font-medium text-gray-700">New password confirmation:</label>
                <input type="password" name="new_password2" autocomplete="new-password" aria-describedby="id_new_password2_helptext" id="id_new_password2" class="mt-1 p-2 border border-gray-300 rounded w-full focus:outline-none focus:border-yellow-500">
                <small class="text-gray-500" id="id_new_password2_helptext">Enter the same password as before, for verification.</small>
            </div>

            <button 
                type="submit" 
                class="w-full bg-yellow-600 text-white py-2 rounded hover:bg-yellow-500 transition duration-200"
            >
                Change Password
            </button>
        </form>
    </div>
</div>
{% endblock %}