{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Password</title>
    <link rel="stylesheet" href="{% static 'css/tailwind.min.css' %}">
</head>
<body class="bg-gradient-to-l from-yellow-50 to-yellow-200 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded-lg m-3 shadow-lg w-full max-w-md">
        <h2 class="text-2xl font-extrabold mb-6 text-center text-yellow-500">Set New Password</h2>

        <form method="post" class="space-y-4">
            {% csrf_token %}
            <div>
                <label for="password" class="block text-sm font-medium text-gray-700">New Password:</label>
                <input 
                    type="password" 
                    name="password" 
                    required 
                    id="password" 
                    placeholder="Enter a new password" 
                    class="mt-1 p-2 border border-gray-300 rounded w-full focus:outline-none focus:border-yellow-500"
                >
            </div>
            <div>
                <label for="confirm_password" class="block text-sm font-medium text-gray-700">Confirm Password:</label>
                <input 
                    type="password" 
                    name="confirm_password" 
                    required 
                    id="confirm_password" 
                    placeholder="Re-enter the new password" 
                    class="mt-1 p-2 border border-gray-300 rounded w-full focus:outline-none focus:border-yellow-500"
                >
            </div>
            <button 
                type="submit" 
                class="w-full bg-yellow-600 text-white py-2 rounded hover:bg-yellow-500 transition duration-200"
            >
                Reset Password
            </button>
        </form>
    </div>
</body>
</html>
